.processor-model{
    color: var(--azul-principal);
    font-weight: bold;
}

.specs-table td {
    padding: 0.5rem 0;
    border-bottom: 1px dotted #ccc;
    font-size: 0.95rem;
}

.specs-table td:first-child {
    font-weight: 500;
}

.specs-table tr:last-child td {
    border-bottom: none;
}